<div class="container" style="text-align:center">
    <h1 >houses in console</h1>
    <div class="row" stylee="text-align:center" *ngIf="allBooks">
      <div *ngFor="let book of all books" class="col-mmd-4">
  
        <div class="col-md-12" style="font-size:17px">All Houses in console</div>
        <div class="row">
          <div class="col">
            <h1>{{houses.name}}</h1>
            <h2>{{houses.gender}}</h2>
            <p>{{houses.coatOfArms}}</p>
            <p>{{houses.words}}</p>
           
          </div>
        </div>
      </div>
    </div>
  </div>