
<div class="card-deck">
  
  <div class="card">

    <img class="card-img-top" src="assets\books.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">BOOKS</h5>
      <a href="#" class="btn btn-primary" [routerLink]="['/books']">see more</a>
    </div>
  </div>
  <div class="card" class="card border-danger mb-3" >
    <img class="card-img-top" src="assets\characters.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CHARACTERS</h5>
      <a href="#" class="btn btn-primary" [routerLink]="['/characters']"> see more</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=" assets/houses.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">HOUSES</h5>
      <a href="#" class="btn btn-primary" [routerLink]="['/houses']">see more</a>
    </div>
  </div>
</div>